input {
    keyboard {
        repeat-delay 200
        repeat-rate 35
        numlock

        xkb { /* KEYBOARD LANGUAGE SWITCHING */
          layout "us,ru"
          options "grp:alt_shift_toggle"
        }
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }
}

gestures { /* LEFT TOP SIDE */
    hot-corners {
        off
    }
}

layout {
    gaps 7
    center-focused-column "never" 

    preset-column-widths {
        proportion 0.3333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.7; } /* YOU CAN CHANGE THE DEFAULT WIDTH OF THE NEW WINDOWS. */
    focus-ring {
        off
        width 1.5
        active-color "#4C6EB5"
        inactive-color "#76B3DC"
    }

    border { /* YOU CAN ALSO ADD A BORDER. IT'S SIMILAR TO THE FOCUS RING, BUT ALWAYS VISIBLE. */
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"

        urgent-color "#9b0000" /* COLOR OF THE BORDER AROUND WINDOWS THAT REQUEST YOUR ATTENTION. */
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

/* AUTOSTART */
spawn-at-startup "quickshell"
spawn-at-startup "swww-daemon"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png" /* SCREENSHOTS PATH */

window-rule { /* OPEN THE FIREFOX PICTURE-IN-PICTURE PLAYER AS FLOATING BY DEFAULT. */
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return hotkey-overlay-title="Open a Terminal"    { spawn "foot"; }
    Mod+R      hotkey-overlay-title="Open yazi"          { spawn-sh "foot yazi"; }
    Mod+F      hotkey-overlay-title="Open Firefox"       { spawn "firefox"; }
    Mod+N      hotkey-overlay-title="Open Nekoray"       { spawn "nekoray"; } // ?
    Mod+I      hotkey-overlay-title="Open Perplexity"    { spawn-sh "firefox https://www.perplexity.ai/"; }
    Mod+G      hotkey-overlay-title="Open Github"        { spawn-sh "firefox https://www.github.com/"; }
    Alt+N      hotkey-overlay-title="Change wallpaper"   { spawn-sh "~/.config/niri/scripts/bg ~/Pictures/wallpapers/"; }
    Alt+C      hotkey-overlay-title="Choose wallpaper"   { spawn-sh "~/.config/niri/scripts/bg_choose ~/Pictures/wallpapers/"; }
    Alt+B      hotkey-overlay-title="Remove wallpaper"   { spawn-sh "swww clear";}
    Alt+Space  hotkey-overlay-title="Run hotspote"       { spawn "fuzzel"; }
    Alt+Q      hotkey-overlay-title="Lock the Screen"    { spawn-sh "~/.config/niri/scripts/locks/swaylock"; }

    // F-keys
    F1 hotkey-overlay-title="No sound"        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    F2 hotkey-overlay-title="Lower sound"     allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    F3 hotkey-overlay-title="Raise sound"     allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    F4 hotkey-overlay-title="Brightness down" allow-when-locked=true { spawn    "brightnessctl" "--class=backlight" "set" "10%-"; }
    F5 hotkey-overlay-title="Brightness up"   allow-when-locked=true { spawn    "brightnessctl" "--class=backlight" "set" "+10%"; }


    Mod+Q repeat=false hotkey-overlay-title="Close window" { close-window; } /* CLOSE WINDOW */

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }


    /* CHANGE SIZE OF WINDOW */
    Mod+A { set-column-width "-10%"; }
    Mod+D { set-column-width "+10%"; }
    Mod+S { set-window-height "-10%"; }
    Mod+W { set-window-height "+10%"; }

    /* MOVE WINDOWS */
    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }

    Mod+Comma   { consume-or-expel-window-left;  }
    Mod+Period  { consume-or-expel-window-right; }

    Mod+Shift+BracketLeft  { move-column-to-first; }
    Mod+Shift+BracketRight { move-column-to-last;  }

    /* MOVE TO FIRST AND LAST WINDOWS */
    Mod+BracketLeft  { focus-column-first; }
    Mod+BracketRight { focus-column-last; }


    Alt+J              { focus-workspace-down; }
    Alt+K              { focus-workspace-up; }
    Mod+1              { move-column-to-workspace 1; }
    Mod+2              { move-column-to-workspace 2; }
    Mod+3              { move-column-to-workspace 3; }
    Mod+4              { move-column-to-workspace 4; }
    Mod+5              { move-column-to-workspace 5; }

    /* MOVE TO OTHER WORKSPACE */
    Alt+1 { focus-workspace 1; }
    Alt+2 { focus-workspace 2; }
    Alt+3 { focus-workspace 3; }
    Alt+4 { focus-workspace 4; }
    Alt+5 { focus-workspace 5; }
 
    Alt+Tab { focus-workspace-previous; } /* MOVE TO PREVIOUS WORKSPACE */
    Alt+O   { toggle-overview; }          /* WORKSPACES MENU */

    Mod+C { center-column; } /* CENTER WINDOW */


    /* FLOATING(bloated function for niri for my take) */
    Mod+E       { toggle-window-floating; }
    Mod+Shift+E { switch-focus-between-floating-and-tiling; }

    /* FULLSCREEN */
    Mod+U { toggle-column-tabbed-display; } /* VERTICAL */
    Mod+V { maximize-column; }              /* HORIZONTAL */
    Mod+Shift+V { fullscreen-window; }      /* FULL */

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+M { quit; } /* QUIT NIRI */
    Mod+Shift+P { power-off-monitors; } /* BE CAREFUL!!! */
}

 /* MONITORS !!! 
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    */
